header
	background url('../img/bgheader.jpg')
	background-size 100% 100%
	.navbar-header
		.icon-bar
			background white
	.navbar-brand
		img
			float left
			margin-right 10px
		a
			position relative
			top -10px
			color white
			&:hover
				color white
	.nav
		li
			margin 15px 0px
			float left
			a
				color white
				&:hover
					background none
	.jumbotron
		margin-top 50px
		background none
		h1, h3
			color white
		p
			margin-top 50px
			margin-bottom 50px
			.btn
				color white
				padding 10px 35px
				border 2px solid white
				&:hover
					text-shadow 1px 1px 1px white
				&:active
					border 1px solid
@media screen and (max-width: 767px)
	.navbar .pull-right
		float none!important
		width 550px
		margin auto
	.nav li a 
		padding 10px 30px
		
				